
<section class="" >

    <form class="bg-gray-50 rounded border shadow-sm  max-w-xl mx-auto p-4 my-4 " [formGroup]="paymantForm" >
    <h1 class="text-2xl text-center text-green-500 capitalize " > enter details in form </h1>

        
        <label for="details" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your details</label>
        <textarea formControlName="details" id="details" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>

        @if(paymantForm.get('details')?.errors && paymantForm.get('details')?.touched){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                <span class="sr-only">Danger</span>
                <div>
                    
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (paymantForm.get('details')?.getError('required')) {
                            <li>email is required.</li>
                        }
                     
                      
                  </ul>
                </div>
              </div>
        }

        <div class="mt-2">
            <label 
            for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">enter phone:</label>
            <input formControlName="phone" type="tel" id="phone" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

            @if(paymantForm.get('phone')?.errors && paymantForm.get('phone')?.touched){
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                      </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (paymantForm.get('phone')?.getError('required')) {
                                <li>phone is required.</li>
                            }@if(paymantForm.get('phone')?.getError('pattern')){
                                <li>enter Egypt phone number .</li>

                            }
                      </ul>
                    </div>
                  </div>
            }
            
        </div>
        <div class="mt-2">
            <label 
            for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">enter city:</label>
            <input formControlName="city" type="tel" id="city" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            
        @if(paymantForm.get('city')?.errors && paymantForm.get('city')?.touched){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                <span class="sr-only">Danger</span>
                <div>
                    
                    <ul class="mt-1.5 list-disc list-inside">
                        @if (paymantForm.get('city')?.getError('required')) {
                            <li>city is required.</li>
                        }
                     
                      
                  </ul>
                </div>
              </div>
        }
        </div>
        <div class=" flex justify-between items-center  ">
            <button (click)="paymantFeza()" [disabled]="paymantForm.invalid" type="submit" class="disabled:bg-gray-600 mt-3 bg-green-600 font-medium text-white py-2 px-5 border rounded hover:bg-green-900" > 
                <img src="/images/mastercard.webp" class="h-[20px] inline" alt="mastercard">online payment
            </button>
          
            <button (click)="paymantCach()" [disabled]="paymantForm.invalid" type="submit" class="disabled:bg-gray-600 mt-3 bg-green-600 font-medium text-white py-2 px-5 border rounded hover:bg-green-900" > 
                cach payment
            </button>
        </div>


        <p class="text-3xl text-center mt-3 animate-pulse" > {{errMassage}} </p>
        

    </form>

</section>
