<router-outlet></router-outlet>

<ngx-spinner
  name="loading1" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner>
<!-- 
<ngx-spinner
  name="loading2"
  bdColor="rgba(0, 0, 0, 0.7)"
  template = "<img src='/images/freshcart-logo.svg' />"
>


    <h1 class="text-2xl text-white " >  <span class="text-3xl text-yellow-500" >Hatem </span> custom loaging.... </h1>

</ngx-spinner>  -->