

<footer class=" bg-black" >
    <div class="container mx-auto pt-10">
        <h2 class=" text-white font-bold text-2xl" >Get The FreshCart App</h2>
        <p class="text-gray-300 text-sm p-1" >We will send You alink open it in your phone to download the app</p>
       <div class="flex items-center" >
        <input type="email" placeholder="Enter Email" class="w-5/6 border shadow-md border-gray-300 rounded-md placeholder:text-gray-500 " >
        <button class=" text-black ms-2 px-4 py-2 border border-yellow-200 rounded-md  bg-yellow-400 hover:shadow-md hover:scale-105 transition-all duration-500  ">Share app link</button>
       </div>
       <div class=" block  lg:flex justify-between items-center">
        <div class=" sm:my-3  flex items-center gap-2">
            <h3 class="mb-2 text-gray-200" >payment parteners</h3>
            <img src="/images/amazon-pay.png" class="w-14" alt="amazon-pay">
            <img src="/images/American-Express-Color.png" class="w-14" alt="American-pay">
            <img src="/images/paypal.png" class="w-14" alt="paypal-pay">
            <img src="/images/mastercard.webp" class="w-14" alt="mastercard-pay">
        </div>
        <div class=" flex items-center pe-20 ">
            <h3 class="text-gray-200 pe-2" >Get Deliveries With FreshCart</h3>
            <img src="/images/get-google-play.png" class="w-20" alt="google-play">
            <img src="/images/get-apple-store.png" class="w-20" alt="apple-store">
        </div>
       </div>
    </div>
    <div class=" bg-black w-full border border-gray-500 rounded-sm py-3" >
        <h6 class="text-center text-white align-bottom "> © 2025 Hatem😅. كل الحقوق محفوظة  </h6>
    </div>
</footer>
